.contact-us {
  background: url('../../public/contact-us-bg.jpg') no-repeat center center/cover;
  padding: 2rem;
  backdrop-filter: blur(10px);
  min-height: 100vh;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-us h1 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  color: #fff;
}

.contact-form {
  max-width: 600px;
  width: 100%;
  margin-bottom: 2rem;
  background: rgba(255, 255, 255, 0.9);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.5rem;
  color: #333;
}

input, textarea {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

textarea {
  resize: vertical; /* Allows vertical resizing */
}

.submit-button {
  background-color: #007bff;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  align-self: center;
}

.submit-button:hover {
  background-color: #0056b3;
}

.contact-info {
  text-align: center;
  margin-top: 2rem;
}

.contact-info h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #fff;
}

.contact-info p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #fff;
}

.contact-info a.contact-email {
  color: #007bff;
  text-decoration: none;
}

.contact-info a.contact-email:hover {
  text-decoration: underline;
}

.contact-button {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1rem;
}

.contact-button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .contact-form {
    padding: 1rem;
  }

  .submit-button {
    padding: 0.5rem 1rem;
  }

  .contact-info p {
    font-size: 1rem;
  }
}
